#main{
  width:10%;
  background-color: blue;

}
#container{
  width:50%;
  background-color: black;
  margin-left: 30%;

}
textarea{
  margin-top: 2%;
  margin-left: 22%;
}
#description{
  color:white;
  font-size: 30px;
  margin-left: 30%;
}
